<ul>
  <li>Name: <%= track.name %></li>
  <ul>
    <% album = track.album %>
    <% band = album.band %>
    <li>Artist: <%= link_to band.name, band_path(band) %>

    <li>Album: <%= link_to album.name, album_path(album) %></li>
    <% if track.bonus == "Bonus" %>
      <li>Bonus Track</li>
    <% else %>
      <li>Regular Track</li>
    <% end %>
    <li>Lyrics: <pre><%= ugly_lyrics(track.lyrics) %></pre></li>

    <li>Notes:
      <ul>
        <% track.notes.each do |note| %>
          <li><%= note.body %>
          <% if @admin || (@current_user && current_user.id == note.user_id) %>
            <%= button_to "Delete Note", { :controller => :notes,
                  :action => "destroy", :id => note.id }, :method => :delete %>
          <% end %>
          </li>

        <% end %>
      </ul>
  </ul>
  <% if @current_user %>
      <form action="<%= notes_url %>" method="post">
        <input type= 'hidden' name="authenticity_token"
          value="<%form_authenticity_token%>">

        <input type="hidden" name="note[user_id]"
          value="<%= @current_user.id %>">

        <input type="hidden" name="note[track_id]"
          value="<%= track.id %>">

        <label name="user_note" id="user_note">Leave a note: </label>
        <textarea name="note[body]" id="user_note"
          rows="10" cols="50"></textarea>

        <input type="submit" value="submit your note">
      </form>
  <% end %>
  <% if @admin %>
  <%= button_to "delete", { :controller => :tracks,
        :action => 'destroy', :id => track.id }, :method => :delete %>
  <% end %>
</ul>